Django==5.2
django-redis==5.4.0
djangorestframework==3.15.2
drf-spectacular==0.27.2
djangorestframework-simplejwt==5.3.1
dj-database-url==2.1.0
django_filter
django-cors-headers==4.4.0
drf-yasg==1.21.7
psycopg[binary]==3.2.2
Pillow==10.4.0
torch==2.4.1
torchvision==0.19.1
numpy==2.1.2
pandas==2.2.3
scikit-learn==1.5.2
albumentations==1.4.20
python-dotenv==1.0.1
redis==5.1.1
celery==5.4.0
gunicorn==23.0.0
whitenoise==6.8.0